div.SCContent {
	overflow-x: hidden;
	overflow-y: scroll;
}


div#obj2053 {
position: absolute;
overflow: hidden;
top: 0px;
left: -781px;
width: 1499px;
height: 1556px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj2053_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1499px;
	height: 1556px;
}

div#obj2069 {
position: absolute;
overflow: hidden;
top: 0px;
left: -7px;
width: 734px;
height: 416px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

background-color: rgba(43,44,43,0.8156863);
font-family: "Cuprum-700";
font-size: 130px;
color: #FFFFFF;
text-align: center;
}
div#obj2069_content {
}



div#obj2072 {
position: absolute;
overflow: hidden;
top: 415px;
left: -7px;
width: 727px;
height: 1148px;
opacity: 0.7;
z-index: 2;
display:block;
pointer-events: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }


}
p.small {
  font-variant: small-caps;
}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
