div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj1728 {
position: absolute;
overflow: hidden;
top: 0px;
left: -1px;
width: 720px;
height: 534px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

}
div#obj1726 {
position: absolute;
overflow: hidden;
top: 529px;
left: -3px;
width: 722px;
height: 536px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

}
div#obj1513 {
position: absolute;
overflow: hidden;
top: 369px;
left: -166px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

}
div#obj1502 {
position: absolute;
overflow: hidden;
top: 0px;
left: -780px;
width: 1499px;
height: 1556px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj1502_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1499px;
	height: 1556px;
}
div#obj2012 {
position: absolute;
overflow: hidden;
top: 102px;
left: 287px;
width: 187px;
height: 193px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: none;

}
img#obj2012_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 187px;
	height: 193px;
}

div#obj1732 {
position: absolute;
overflow: hidden;
top: 0px;
left: -4px;
width: 724px;
height: 526px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: rgba(61,115,126,0.4392157);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Oxygen-regular";
font-size: 70px;
text-align: center;
text-shadow: 2px 2px 2px rgba(0,0,0,0.6078431);
}
div#obj1732_content {
}
div#obj1730 {
position: absolute;
overflow: hidden;
top: 529px;
left: -4px;
width: 728px;
height: 536px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: rgba(198,172,169,0.2392157);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Oxygen-regular";
font-size: 70px;
text-align: center;
text-shadow: 2px 2px 2px rgba(0,0,0,0.6078431);
}
div#obj1730_content {
}
div#obj1709 {
position: absolute;
overflow: hidden;
top: 1069px;
left: 229px;
width: 320px;
height: 203px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: justify;
}
div#obj1709_content {
}
div#obj1685 {
position: absolute;
overflow: hidden;
top: 1090px;
left: 235px;
width: 334px;
height: 142px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1685_content {
}
div#obj1670 {
position: absolute;
overflow: hidden;
top: 1105px;
left: 218px;
width: 320px;
height: 153px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1670_content {
}
div#obj1645 {
position: absolute;
overflow: hidden;
top: 1098px;
left: 229px;
width: 323px;
height: 142px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1645_content {
}
div#obj1630 {
position: absolute;
overflow: hidden;
top: 1075px;
left: 244px;
width: 312px;
height: 188px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1630_content {
}
div#obj1605 {
position: absolute;
overflow: hidden;
top: 1075px;
left: 226px;
width: 329px;
height: 142px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1605_content {
}
div#obj1580 {
position: absolute;
overflow: hidden;
top: 1097px;
left: 225px;
width: 338px;
height: 142px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1580_content {
}
div#obj1565 {
position: absolute;
overflow: hidden;
top: 1112px;
left: 218px;
width: 320px;
height: 117px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1565_content {
}
div#obj1549 {
position: absolute;
overflow: hidden;
top: 1086px;
left: 232px;
width: 312px;
height: 188px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1549_content {
}
div#obj1524 {
position: absolute;
overflow: hidden;
top: 1086px;
left: 229px;
width: 323px;
height: 142px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: arial, helvetica, sans-serif;
font-size: 25px;
color: #FFFFFF;
text-align: left;
}
div#obj1524_content {
}
div#obj2008 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 720px;
height: 1280px;
opacity: 0.95;
z-index: 18;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1843137);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1843137);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1843137);
padding: 85px;
font-family: "Oxygen-regular";
font-size: 40px;
color: #FFFFFF;
text-align: justify;
}
div#obj2008_content {
line-height: 1.5;
}
button#obj1517 {
	position: absolute;
overflow: hidden;
top: 468px;
left: 260px;
width: 205px;
height: 130px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #CA2828;
	font-family:'trebuchet ms', geneva;
	font-size: 25px;
	color: #FFFFFF; 
}
button#obj1517:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }


div#obj2017 {
position: absolute;
overflow: hidden;
top: 1064px;
left: -2px;
width: 724px;
height: 217px;
opacity: 0.6;
z-index: 1;
display:block;
pointer-events: none;

box-shadow: 0px 0px 50px 20px rgba(43,44,43,0.8156863) inset;
-webkit-box-shadow: 0px 0px 50px 20px rgba(43,44,43,0.8156863) inset;
-moz-box-shadow: 0px 0px 50px 20px rgba(43,44,43,0.8156863) inset;
background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #FFFFFF;
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }


}
p.small {
  font-variant: small-caps;
}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
