div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj14528 {
position: absolute;
overflow: hidden;
top: 1109px;
left: 88px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

}
div#obj14559 {
position: absolute;
overflow: hidden;
top: 141px;
left: 118px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

}
div#obj14562 {
position: absolute;
overflow: hidden;
top: 104px;
left: 320px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

}
div#obj14565 {
position: absolute;
overflow: hidden;
top: 145px;
left: 535px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

}
div#obj14568 {
position: absolute;
overflow: hidden;
top: 417px;
left: 122px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

}
div#obj14571 {
position: absolute;
overflow: hidden;
top: 364px;
left: 326px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 9;
display:block;
pointer-events: auto;

}
div#obj14574 {
position: absolute;
overflow: hidden;
top: 422px;
left: 526px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

}
div#obj14577 {
position: absolute;
overflow: hidden;
top: 633px;
left: 320px;
width: 160px;
height: 246px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: auto;

}
div#obj15948 {
position: absolute;
overflow: hidden;
top: 433px;
left: -540px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

}
div#obj16105 {
position: absolute;
overflow: hidden;
top: 0px;
left: -19px;
width: 831px;
height: 74px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: auto;

}
div#obj14523 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 800px;
height: 1280px;
opacity: 0.3;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj14523_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 1280px;
}
div#obj14525 {
position: absolute;
overflow: hidden;
top: 13px;
left: 13px;
width: 773px;
height: 1117px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj14525_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 773px;
	height: 1117px;
}
div#obj14532 {
position: absolute;
overflow: hidden;
top: 934px;
left: 136px;
width: 654px;
height: 351px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

}
img#obj14532_img {
	position: absolute;
	left: 0px;
	top: -43px;
	width: 654px;
	height: 436px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj14543 {
position: absolute;
overflow: hidden;
top: 751px;
left: -304px;
width: 456px;
height: 841px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;
-webkit-transform: rotate(41.41382deg);
-moz-transform: rotate(41.41382deg);
transform: rotate(41.41382deg);

}
img#obj14543_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 456px;
	height: 841px;
}


button#obj16107 {
	position: absolute;
overflow: hidden;
top: 19px;
left: 329px;
width: 163px;
height: 83px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #CA2828;
	font-family:"Bradley-Hand-Bold";
	font-size: 40px;
	color: #FFFFFF; 
}
button#obj16107:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
