div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj1343 {
position: absolute;
overflow: hidden;
top: 80px;
left: -250px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;

}
div#obj1331 {
position: absolute;
overflow: hidden;
top: 0px;
left: 1px;
width: 667px;
height: 375px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj1331_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 667px;
	height: 375px;
}

div#obj1333 {
position: absolute;
overflow: hidden;
top: 18px;
left: 15px;
width: 631px;
height: 338px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8901961);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8901961);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.8901961);
padding: 20px;
font-family: "Oxygen-regular";
font-size: 25px;
color: #FFFFFF;
text-align: justify;
}
div#obj1333_content {
line-height: 1.4;
}
button#obj1336 {
	position: absolute;
overflow: hidden;
top: 281px;
left: 248px;
width: 164px;
height: 58px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(99,99,99,0.6509804);
	font-family:"Oxygen-300";
	font-size: 20px;
	color: #FFFFFF; 
}
button#obj1336:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }



#obj1338 {
position: absolute;
overflow: hidden;
top: -5px;
left: 0px;
width: 667px;
height: 380px;
opacity: 1;
z-index: 0;
display:none;
pointer-events: auto;

background-color: #000000;
}







body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
div#SCNavigationRight {
    display: none;}
div#SCNavigationLeft {
    display: none;}
}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
