div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}


div#obj1496 {
position: absolute;
overflow: hidden;
top: 0px;
left: -780px;
width: 1499px;
height: 1556px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj1496_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1499px;
	height: 1556px;
}
div#obj1416 {
position: absolute;
overflow: hidden;
top: 1px;
left: 38px;
width: 645px;
height: 433px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj1416_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 645px;
	height: 433px;
}

div#obj1422 {
position: absolute;
overflow: hidden;
top: 337px;
left: 38px;
width: 647px;
height: 76px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: rgba(99,99,99,0.6509804);
padding: 10px;
font-family: "Oxygen-300";
font-size: 20px;
color: #FFFFFF;
text-align: left;
}
div#obj1422_content {
}
div#obj1490 {
position: absolute;
overflow: hidden;
top: 406px;
left: 38px;
width: 647px;
height: 187px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

background-color: #636363;
padding: 50px;
font-family: "Oxygen-regular";
font-size: 25px;
color: #FFFFFF;
text-align: justify;
}
div#obj1490_content {
line-height: 1.3;
}
div#obj1499 {
position: absolute;
overflow: hidden;
top: 548px;
left: 38px;
width: 647px;
height: 753px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

background-color: #FFFFFF;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
font-family: "Oxygen-300";
font-size: 40px;
text-align: justify;
}
div#obj1499_content {
line-height: 1.4;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }


}
p.small {
  font-variant: small-caps;
}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
