div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj7953 {
position: absolute;
overflow: hidden;
top: 160px;
left: 576px;
width: 526px;
height: 538px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

}
div#obj7962 {
position: absolute;
overflow: hidden;
top: 417px;
left: 532px;
width: 356px;
height: 292px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

}
div#obj7983 {
position: absolute;
overflow: hidden;
top: 409px;
left: 819px;
width: 296px;
height: 292px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

}
div#obj7991 {
position: absolute;
overflow: hidden;
top: 157px;
left: 563px;
width: 296px;
height: 292px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: auto;

}
div#obj7933 {
position: absolute;
overflow: hidden;
top: -8px;
left: 0px;
width: 1366px;
height: 777px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj7933_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1366px;
	height: 777px;
}
div#obj7946 {
position: absolute;
overflow: hidden;
top: 170px;
left: 576px;
width: 540px;
height: 540px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

}
img#obj7946_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 540px;
	height: 540px;
}
div#obj7947 {
position: absolute;
overflow: hidden;
top: 163px;
left: 568px;
width: 540px;
height: 540px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

}
img#obj7947_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 540px;
	height: 540px;
}
div#obj7949 {
position: absolute;
overflow: hidden;
top: 170px;
left: 576px;
width: 540px;
height: 540px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;

}
img#obj7949_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 540px;
	height: 540px;
}
div#obj8010 {
position: absolute;
overflow: hidden;
top: 169px;
left: 537px;
width: 615px;
height: 559px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: none;

}
img#obj8010_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 615px;
	height: 559px;
}
div#obj8016 {
position: absolute;
overflow: hidden;
top: 592px;
left: 1137px;
width: 168px;
height: 143px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: auto;

}
img#obj8016_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 168px;
	height: 143px;
}
div#obj4097 {
position: absolute;
overflow: hidden;
top: -19px;
left: 0px;
width: 126px;
height: 134px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

}
img#obj4097_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 126px;
	height: 134px;
}

div#obj7955 {
position: absolute;
overflow: hidden;
top: 363px;
left: 704px;
width: 284px;
height: 138px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

background-color: #FF2600;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-regular";
font-size: 50px;
color: #FFFFFF;
text-align: center;
}
div#obj7955_content {
}
div#obj7964 {
position: absolute;
overflow: hidden;
top: 358px;
left: 703px;
width: 284px;
height: 138px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;

background-color: #F0AD05;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-regular";
font-size: 50px;
color: #FFFFFF;
text-align: center;
}
div#obj7964_content {
}
div#obj7977 {
position: absolute;
overflow: hidden;
top: 50px;
left: 586px;
width: 504px;
height: 114px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: none;

background-color: #FFFFFF;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-regular";
font-size: 40px;
text-align: center;
}
div#obj7977_content {
}
div#obj7979 {
position: absolute;
overflow: hidden;
top: 50px;
left: 586px;
width: 504px;
height: 114px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;

background-color: #FFFFFF;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-regular";
font-size: 40px;
text-align: center;
}
div#obj7979_content {
}
div#obj7999 {
position: absolute;
overflow: hidden;
top: 50px;
left: 586px;
width: 504px;
height: 114px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: none;

background-color: #FFFFFF;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-regular";
font-size: 40px;
text-align: center;
}
div#obj7999_content {
}
div#obj8012 {
position: absolute;
overflow: hidden;
top: 50px;
left: 586px;
width: 504px;
height: 114px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: none;

background-color: #FFFFFF;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 25px;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Andika-regular";
font-size: 40px;
text-align: center;
}
div#obj8012_content {
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText span.INSERT_STYLE_NAME_HERE {
	
}/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
