div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj5749 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;

}
div#obj5737 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: auto;

}
div#obj5735 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: auto;

}
div#obj5732 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: auto;

}
div#obj2020 {
position: absolute;
overflow: hidden;
top: 7px;
left: -5px;
width: 1378px;
height: 761px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj2020_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1378px;
	height: 761px;
}
div#obj4120 {
position: absolute;
overflow: hidden;
top: 381px;
left: 22px;
width: 323px;
height: 364px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

}
img#obj4120_img {
	position: absolute;
	left: -20px;
	top: 0px;
	width: 364px;
	height: 364px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4124 {
position: absolute;
overflow: hidden;
top: 7px;
left: 405px;
width: 329px;
height: 364px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

}
img#obj4124_img {
	position: absolute;
	left: 0px;
	top: 18px;
	width: 329px;
	height: 329px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4126 {
position: absolute;
overflow: hidden;
top: 376px;
left: 405px;
width: 317px;
height: 357px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

}
img#obj4126_img {
	position: absolute;
	left: -20px;
	top: 0px;
	width: 357px;
	height: 357px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4122 {
position: absolute;
overflow: hidden;
top: 7px;
left: -11px;
width: 389px;
height: 371px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;

}
img#obj4122_img {
	position: absolute;
	left: 0px;
	top: -9px;
	width: 389px;
	height: 389px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4271 {
position: absolute;
overflow: hidden;
top: 7px;
left: -375px;
width: 1182px;
height: 1113px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;
-webkit-transform: rotate(9.518758deg);
-moz-transform: rotate(9.518758deg);
transform: rotate(9.518758deg);

}
img#obj4271_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1182px;
	height: 1113px;
}
div#obj4371 {
position: absolute;
overflow: hidden;
top: 72px;
left: 511px;
width: 640px;
height: 539px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;

}
img#obj4371_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 640px;
	height: 539px;
}
div#obj5730 {
position: absolute;
overflow: hidden;
top: 353px;
left: 830px;
width: 70px;
height: 73px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;

}
img#obj5730_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 73px;
}
div#obj4303 {
position: absolute;
overflow: hidden;
top: 767px;
left: 774px;
width: 598px;
height: 684px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: none;

}
img#obj4303_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 598px;
	height: 684px;
}

div#obj4281 {
position: absolute;
overflow: hidden;
top: 164px;
left: 635px;
width: 429px;
height: 192px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
font-family: "Andika-regular";
font-size: 40px;
text-align: center;
}
div#obj4281_content {
}
div#obj4305 {
position: absolute;
overflow: hidden;
top: 192px;
left: 923px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

font-family: "Gochi-Hand-regular";
font-size: 70px;
text-align: center;
}
div#obj4305_content {
}



div#obj4132 {
position: absolute;
overflow: hidden;
top: -9px;
left: -25px;
width: 1401px;
height: 797px;
opacity: 0.4;
z-index: 1;
display:block;
pointer-events: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #000000;
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText span.INSERT_STYLE_NAME_HERE {
	
}/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
