div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj1253 {
position: absolute;
overflow: hidden;
top: 155px;
left: -212px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;

}
div#obj1226 {
position: absolute;
overflow: hidden;
top: -12px;
left: 1px;
width: 667px;
height: 636px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj1226_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 667px;
	height: 636px;
}
div#obj1469 {
position: absolute;
overflow: hidden;
top: 0px;
left: 21px;
width: 625px;
height: 383px;
opacity: 0.7;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj1469_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 625px;
	height: 383px;
}

div#obj1471 {
position: absolute;
overflow: hidden;
top: 334px;
left: 21px;
width: 626px;
height: 34px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: rgba(255,255,255,0.8627451);
font-family: "Oxygen-300";
font-size: 16px;
color: rgba(0,0,0,0.8901961);
}
div#obj1471_content {
}
div#obj1224 {
position: absolute;
overflow: hidden;
top: 0px;
left: 21px;
width: 625px;
height: 223px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

background-color: #FFFFFF;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 15px;
font-family: "Oxygen-regular";
font-size: 27px;
text-align: justify;
}
div#obj1224_content {
line-height: 1.5;
}
div#obj1259 {
position: absolute;
overflow-x: hidden;
overflow-y: overlay;
-webkit-overflow-scrolling: touch;
top: 374px;
left: 17px;
width: 631px;
height: 382px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
font-family: "Oxygen-300";
font-size: 23px;
color: #FFFFFF;
text-align: justify;
}
div#obj1259_content {
line-height: 1.5;
}
div#obj1228 {
position: absolute;
overflow-x: hidden;
overflow-y: overlay;
-webkit-overflow-scrolling: touch;
top: 374px;
left: 18px;
width: 631px;
height: 382px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
font-family: "Oxygen-300";
font-size: 23px;
color: #FFFFFF;
text-align: justify;
}
div#obj1228_content {
line-height: 1.5;
}
div#obj1275 {
position: absolute;
overflow-x: hidden;
overflow-y: overlay;
-webkit-overflow-scrolling: touch;
top: 374px;
left: 18px;
width: 631px;
height: 382px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #636363;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 20px;
font-family: "Oxygen-300";
font-size: 23px;
color: #FFFFFF;
text-align: justify;
}
div#obj1275_content {
line-height: 1.5;
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }

}
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
