div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj15948 {
position: absolute;
overflow: hidden;
top: 433px;
left: -540px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;

}
div#obj16105 {
position: absolute;
overflow: hidden;
top: 0px;
left: -19px;
width: 831px;
height: 74px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: auto;

}
div#obj15495 {
position: absolute;
overflow: hidden;
top: 0px;
left: 3px;
width: 797px;
height: 1280px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj15495_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 797px;
	height: 1280px;
}
div#obj15497 {
position: absolute;
overflow: hidden;
top: 0px;
left: 4px;
width: 795px;
height: 1280px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj15497_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 795px;
	height: 1280px;
}
div#obj15499 {
position: absolute;
overflow: hidden;
top: 161px;
left: -189px;
width: 406px;
height: 629px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

}
img#obj15499_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 406px;
	height: 629px;
}
div#obj15504 {
position: absolute;
overflow: hidden;
top: 944px;
left: 55px;
width: 301px;
height: 291px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

}
img#obj15504_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 301px;
	height: 291px;
}
div#obj15509 {
position: absolute;
overflow: hidden;
top: 948px;
left: 410px;
width: 362px;
height: 302px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

}
img#obj15509_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 362px;
	height: 302px;
}
div#obj15513 {
position: absolute;
overflow: hidden;
top: 654px;
left: 268px;
width: 250px;
height: 368px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;

}
img#obj15513_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 250px;
	height: 368px;
}
div#obj15517 {
position: absolute;
overflow: hidden;
top: 350px;
left: 75px;
width: 637px;
height: 353px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

}
img#obj15517_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 637px;
	height: 353px;
}


button#obj15519 {
	position: absolute;
overflow: hidden;
top: 508px;
left: 300px;
width: 220px;
height: 146px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #FF300C;
	font-family:"Bradley-Hand-Bold";
	font-size: 30px;
	color: #000000; 
}
button#obj15519:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj16107 {
	position: absolute;
overflow: hidden;
top: 19px;
left: 329px;
width: 163px;
height: 83px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #CA2828;
	font-family:"Bradley-Hand-Bold";
	font-size: 40px;
	color: #FFFFFF; 
}
button#obj16107:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
