div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}


div#obj4801 {
position: absolute;
overflow: hidden;
top: 7px;
left: -5px;
width: 1378px;
height: 895px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj4801_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1378px;
	height: 895px;
}
div#obj4827 {
position: absolute;
overflow: hidden;
top: 462px;
left: 505px;
width: 264px;
height: 282px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

}
img#obj4827_img {
	position: absolute;
	left: -9px;
	top: 0px;
	width: 282px;
	height: 282px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4830 {
position: absolute;
overflow: hidden;
top: 176px;
left: 675px;
width: 314px;
height: 318px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

}
img#obj4830_img {
	position: absolute;
	left: 0px;
	top: 2px;
	width: 314px;
	height: 314px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4833 {
position: absolute;
overflow: hidden;
top: -8px;
left: 920px;
width: 428px;
height: 354px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

}
img#obj4833_img {
	position: absolute;
	left: 37px;
	top: 0px;
	width: 354px;
	height: 354px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4837 {
position: absolute;
overflow: hidden;
top: 227px;
left: 374px;
width: 280px;
height: 250px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;

}
img#obj4837_img {
	position: absolute;
	left: 0px;
	top: -15px;
	width: 280px;
	height: 280px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj4856 {
position: absolute;
overflow: hidden;
top: 800px;
left: 957px;
width: 477px;
height: 501px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

}
img#obj4856_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 477px;
	height: 501px;
}

div#obj4861 {
position: absolute;
overflow: hidden;
top: 410px;
left: 1029px;
width: 256px;
height: 192px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;

font-family: "Gochi-Hand-regular";
font-size: 70px;
text-align: center;
}
div#obj4861_content {
}



div#obj4825 {
position: absolute;
overflow: hidden;
top: -9px;
left: -25px;
width: 1401px;
height: 797px;
opacity: 0.4;
z-index: 1;
display:block;
pointer-events: none;

background-image: none;
border-color: #000000;
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: #000000;
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText span.INSERT_STYLE_NAME_HERE {
	
}/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
