div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj15425 {
position: absolute;
overflow: hidden;
top: 145px;
left: 15px;
width: 765px;
height: 541px;
opacity: 1;
z-index: 18;
display:none;
pointer-events: none;

}
div#obj15427 {
position: absolute;
overflow: hidden;
top: 145px;
left: 15px;
width: 765px;
height: 541px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: none;

}
div#obj15429 {
position: absolute;
overflow: hidden;
top: 145px;
left: 15px;
width: 765px;
height: 541px;
opacity: 1;
z-index: 20;
display:none;
pointer-events: none;

}
div#obj15431 {
position: absolute;
overflow: hidden;
top: 368px;
left: 196px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 21;
display:none;
pointer-events: none;

}
div#obj15434 {
position: absolute;
overflow: hidden;
top: 364px;
left: 684px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 22;
display:none;
pointer-events: none;

}
div#obj15454 {
position: absolute;
overflow: hidden;
top: 364px;
left: 684px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 23;
display:none;
pointer-events: none;

}
div#obj15474 {
position: absolute;
overflow: hidden;
top: 364px;
left: 684px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 24;
display:none;
pointer-events: none;

}
div#obj15948 {
position: absolute;
overflow: hidden;
top: 433px;
left: -540px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: none;

}
div#obj16105 {
position: absolute;
overflow: hidden;
top: 0px;
left: -19px;
width: 831px;
height: 74px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;

}
div#obj15263 {
position: absolute;
overflow: hidden;
top: -391px;
left: -15px;
width: 830px;
height: 1672px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj15263_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 830px;
	height: 1672px;
}
div#obj15265 {
position: absolute;
overflow: hidden;
top: 81px;
left: 29px;
width: 755px;
height: 574px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj15265_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 755px;
	height: 574px;
}
div#obj15267 {
position: absolute;
overflow: hidden;
top: 914px;
left: 84px;
width: 284px;
height: 271px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;

}
img#obj15267_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 284px;
	height: 271px;
}
div#obj15277 {
position: absolute;
overflow: hidden;
top: 677px;
left: 214px;
width: 349px;
height: 268px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
-webkit-transform: rotate(-4.882675deg);
-moz-transform: rotate(-4.882675deg);
transform: rotate(-4.882675deg);

}
img#obj15277_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 349px;
	height: 268px;
}
div#obj15286 {
position: absolute;
overflow: hidden;
top: 920px;
left: 408px;
width: 327px;
height: 244px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;

}
img#obj15286_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 327px;
	height: 244px;
}
div#obj15307 {
position: absolute;
overflow: hidden;
top: 851px;
left: 357px;
width: 226px;
height: 206px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;

}
img#obj15307_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 226px;
	height: 206px;
}
div#obj15315 {
position: absolute;
overflow: hidden;
top: 1072px;
left: 29px;
width: 387px;
height: 182px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

}
img#obj15315_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 387px;
	height: 182px;
}
div#obj15328 {
position: absolute;
overflow: hidden;
top: 978px;
left: 10px;
width: 294px;
height: 266px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: auto;

}
img#obj15328_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 294px;
	height: 266px;
}
div#obj15342 {
position: absolute;
overflow: hidden;
top: 915px;
left: 208px;
width: 226px;
height: 206px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;

}
img#obj15342_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 226px;
	height: 206px;
}
div#obj15355 {
position: absolute;
overflow: hidden;
top: 933px;
left: 315px;
width: 226px;
height: 206px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

}
img#obj15355_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 226px;
	height: 206px;
}
div#obj15368 {
position: absolute;
overflow: hidden;
top: 1018px;
left: 375px;
width: 226px;
height: 206px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: auto;

}
img#obj15368_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 226px;
	height: 206px;
}
div#obj15381 {
position: absolute;
overflow: hidden;
top: 777px;
left: 557px;
width: 226px;
height: 206px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: auto;

}
img#obj15381_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 226px;
	height: 206px;
}
div#obj15394 {
position: absolute;
overflow: hidden;
top: 992px;
left: 460px;
width: 349px;
height: 258px;
opacity: 1;
z-index: 13;
display:none;
pointer-events: auto;

}
img#obj15394_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 349px;
	height: 258px;
}
div#obj15407 {
position: absolute;
overflow: hidden;
top: 59px;
left: 283px;
width: 245px;
height: 155px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: none;

}
img#obj15407_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 155px;
}
div#obj15411 {
position: absolute;
overflow: hidden;
top: 60px;
left: 283px;
width: 249px;
height: 151px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: none;

}
img#obj15411_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 249px;
	height: 151px;
}
div#obj15415 {
position: absolute;
overflow: hidden;
top: 59px;
left: 277px;
width: 257px;
height: 152px;
opacity: 1;
z-index: 16;
display:none;
pointer-events: none;

}
img#obj15415_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 257px;
	height: 152px;
}


button#obj15419 {
	position: absolute;
overflow: hidden;
top: 346px;
left: 237px;
width: 320px;
height: 126px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #26FF0D;
	font-family:"Bradley-Hand-Bold";
	font-size: 30px;
	color: #000000; 
}
button#obj15419:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }
button#obj16107 {
	position: absolute;
overflow: hidden;
top: 19px;
left: 329px;
width: 163px;
height: 83px;
opacity: 1;
z-index: 28;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #CA2828;
	font-family:"Bradley-Hand-Bold";
	font-size: 40px;
	color: #FFFFFF; 
}
button#obj16107:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }


div#obj15295 {
position: absolute;
overflow: hidden;
top: 686px;
left: -10px;
width: 810px;
height: 594px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;

background-image: none;
border-color: rgba(251,246,221,0);
border-width: 1px;
border-style: solid;
border-radius: 0px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
background-color: rgba(204,153,0,0);
background-repeat: repeat;
}








body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
