div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj6763 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1366px;
height: 777px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: auto;

}
div#obj6758 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: auto;

}
div#obj6753 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: auto;

}
div#obj6748 {
position: absolute;
overflow: hidden;
top: 52px;
left: 511px;
width: 673px;
height: 460px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;

}
div#obj7436 {
position: absolute;
overflow: hidden;
top: 0px;
left: 2px;
width: 1365px;
height: 769px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj7436_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1365px;
	height: 769px;
}
div#obj6776 {
position: absolute;
overflow: hidden;
top: 72px;
left: 511px;
width: 640px;
height: 539px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

}
img#obj6776_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 640px;
	height: 539px;
}
div#obj6774 {
position: absolute;
overflow: hidden;
top: 353px;
left: 830px;
width: 70px;
height: 73px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: none;

}
img#obj6774_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 73px;
}

div#obj6790 {
position: absolute;
overflow: hidden;
top: 164px;
left: 635px;
width: 429px;
height: 192px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: none;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
font-family: "Andika-regular";
font-size: 40px;
text-align: center;
}
div#obj6790_content {
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText span.INSERT_STYLE_NAME_HERE {
	
}/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
