div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj15948 {
position: absolute;
overflow: hidden;
top: 433px;
left: -540px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

}
div#obj16105 {
position: absolute;
overflow: hidden;
top: 0px;
left: -19px;
width: 831px;
height: 74px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

}
div#obj13651 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 800px;
height: 1280px;
opacity: 0.3;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj13651_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 1280px;
}
div#obj13658 {
position: absolute;
overflow: hidden;
top: 1177px;
left: 337px;
width: 127px;
height: 61px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
-webkit-transform: rotate(-1.087464deg);
-moz-transform: rotate(-1.087464deg);
transform: rotate(-1.087464deg);

}
img#obj13658_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 127px;
	height: 61px;
}

div#obj13654 {
position: absolute;
overflow-x: hidden;
overflow-y: overlay;
-webkit-overflow-scrolling: touch;
top: 184px;
left: 0px;
width: 800px;
height: 1097px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: rgba(255,255,255,0.9294118);
border-color: rgba(255,255,255,0.572549);
border-width: 15px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
font-family: "Droid-Sans";
font-size: 33px;
text-align: justify;
}
div#obj13654_content {
}
div#obj13665 {
position: absolute;
overflow: hidden;
top: 27px;
left: 87px;
width: 624px;
height: 156px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;

font-family: "Bradley-Hand-Bold";
font-size: 50px;
color: #115FB1;
text-align: center;
text-shadow: 2px 2px 2px rgba(0,0,0,0.6078431);
}
div#obj13665_content {
}
button#obj16107 {
	position: absolute;
overflow: hidden;
top: 19px;
left: 329px;
width: 163px;
height: 83px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #CA2828;
	font-family:"Bradley-Hand-Bold";
	font-size: 40px;
	color: #FFFFFF; 
}
button#obj16107:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
