div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj14836 {
position: absolute;
overflow: hidden;
top: 206px;
left: -540px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 11;
display:none;
pointer-events: none;

}
div#obj15909 {
position: absolute;
overflow: hidden;
top: 533px;
left: -4px;
width: 806px;
height: 747px;
opacity: 1;
z-index: 15;
display:none;
pointer-events: auto;

}
div#obj15948 {
position: absolute;
overflow: hidden;
top: 433px;
left: -540px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 17;
display:none;
pointer-events: none;

}
div#obj16105 {
position: absolute;
overflow: hidden;
top: 0px;
left: -19px;
width: 831px;
height: 74px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: auto;

}
div#obj14782 {
position: absolute;
overflow: hidden;
top: -10px;
left: -9px;
width: 1098px;
height: 1317px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj14782_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1098px;
	height: 1317px;
}
div#obj14784 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 800px;
height: 1280px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

}
img#obj14784_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 800px;
	height: 1280px;
}
div#obj15890 {
position: absolute;
overflow: hidden;
top: -10px;
left: 0px;
width: 802px;
height: 1290px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;

}
img#obj15890_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 802px;
	height: 1290px;
}
div#obj14786 {
position: absolute;
overflow: hidden;
top: 500px;
left: 17px;
width: 456px;
height: 841px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: none;

}
img#obj14786_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 456px;
	height: 841px;
}
div#obj14791 {
position: absolute;
overflow: hidden;
top: 510px;
left: 349px;
width: 433px;
height: 789px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: none;

}
img#obj14791_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 433px;
	height: 789px;
}
div#obj14806 {
position: absolute;
overflow: hidden;
top: 729px;
left: 0px;
width: 527px;
height: 310px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;
-webkit-transform: rotate(-179.7092deg);
-moz-transform: rotate(-179.7092deg);
transform: rotate(-179.7092deg);

}
img#obj14806_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 527px;
	height: 310px;
}
div#obj14818 {
position: absolute;
overflow: hidden;
top: 393px;
left: 265px;
width: 527px;
height: 310px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;
-webkit-transform: rotate(0.0637995deg);
-moz-transform: rotate(0.0637995deg);
transform: rotate(0.0637995deg);

}
img#obj14818_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 527px;
	height: 310px;
}
div#obj14913 {
position: absolute;
overflow: hidden;
top: 0px;
left: 3px;
width: 794px;
height: 1280px;
opacity: 1;
z-index: 12;
display:none;
pointer-events: none;

}
img#obj14913_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 794px;
	height: 1280px;
}
div#obj14907 {
position: absolute;
overflow: hidden;
top: 0px;
left: 3px;
width: 794px;
height: 1280px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;

}
img#obj14907_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 794px;
	height: 1280px;
}

div#obj15892 {
position: absolute;
overflow: hidden;
top: 65px;
left: 67px;
width: 665px;
height: 500px;
opacity: 1;
z-index: 2;
display:none;
pointer-events: auto;

font-family: "Bradley-Hand-Bold";
font-size: 38px;
color: #FFFFFF;
text-align: center;
}
div#obj15892_content {
}
div#obj14797 {
position: absolute;
overflow: hidden;
top: 822px;
left: 67px;
width: 394px;
height: 190px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: auto;

font-family: "Bradley-Hand-Bold";
font-size: 36px;
text-align: center;
}
div#obj14797_content {
}
div#obj14830 {
position: absolute;
overflow: hidden;
top: 422px;
left: 329px;
width: 394px;
height: 190px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: auto;

font-family: "Bradley-Hand-Bold";
font-size: 36px;
text-align: center;
}
div#obj14830_content {
}
div#obj14833 {
position: absolute;
overflow: hidden;
top: 822px;
left: 67px;
width: 394px;
height: 190px;
opacity: 1;
z-index: 10;
display:none;
pointer-events: auto;

font-family: "Bradley-Hand-Bold";
font-size: 36px;
text-align: center;
}
div#obj14833_content {
}
div#obj15901 {
position: absolute;
overflow: hidden;
top: 422px;
left: 329px;
width: 394px;
height: 190px;
opacity: 1;
z-index: 14;
display:none;
pointer-events: auto;

font-family: "Bradley-Hand-Bold";
font-size: 36px;
text-align: center;
}
div#obj15901_content {
}
button#obj16107 {
	position: absolute;
overflow: hidden;
top: 19px;
left: 329px;
width: 163px;
height: 83px;
opacity: 1;
z-index: 19;
display:none;
pointer-events: auto;

box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.6078431);
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background-color: #CA2828;
	font-family:"Bradley-Hand-Bold";
	font-size: 40px;
	color: #FFFFFF; 
}
button#obj16107:active { -webkit-box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.125); }











body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
