div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj2575 {
position: absolute;
overflow: hidden;
top: 3px;
left: 627px;
width: 163px;
height: 147px;
opacity: 1;
z-index: 10;
display:block;
pointer-events: none;

}
div#obj2573 {
position: absolute;
overflow: hidden;
top: 197px;
left: 623px;
width: 157px;
height: 187px;
opacity: 1;
z-index: 11;
display:block;
pointer-events: none;

}
div#obj2571 {
position: absolute;
overflow: hidden;
top: 178px;
left: 526px;
width: 152px;
height: 163px;
opacity: 1;
z-index: 12;
display:block;
pointer-events: none;

}
div#obj2569 {
position: absolute;
overflow: hidden;
top: 295px;
left: 498px;
width: 165px;
height: 163px;
opacity: 1;
z-index: 13;
display:block;
pointer-events: none;

}
div#obj2567 {
position: absolute;
overflow: hidden;
top: 347px;
left: 596px;
width: 204px;
height: 202px;
opacity: 1;
z-index: 14;
display:block;
pointer-events: none;

}
div#obj2565 {
position: absolute;
overflow: hidden;
top: 174px;
left: 724px;
width: 110px;
height: 170px;
opacity: 1;
z-index: 15;
display:block;
pointer-events: none;

}
div#obj2577 {
position: absolute;
overflow: hidden;
top: 304px;
left: 721px;
width: 165px;
height: 163px;
opacity: 1;
z-index: 16;
display:block;
pointer-events: none;

}
div#obj2662 {
position: absolute;
overflow: hidden;
top: 24px;
left: 306px;
width: 100px;
height: 100px;
opacity: 1;
z-index: 26;
display:none;
pointer-events: none;

}
div#obj7508 {
position: absolute;
overflow: hidden;
top: 431px;
left: 1160px;
width: 164px;
height: 145px;
opacity: 1;
z-index: 37;
display:block;
pointer-events: auto;

}
div#obj5473 {
position: absolute;
overflow: hidden;
top: -107px;
left: -53px;
width: 1471px;
height: 982px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

}
img#obj5473_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1471px;
	height: 982px;
}
div#obj2664 {
position: absolute;
overflow: hidden;
top: 79px;
left: 553px;
width: 284px;
height: 664px;
opacity: 1;
z-index: 1;
display:none;
pointer-events: none;

}
img#obj2664_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 284px;
	height: 664px;
}
div#obj2468 {
position: absolute;
overflow: hidden;
top: 79px;
left: 539px;
width: 314px;
height: 665px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

}
img#obj2468_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 314px;
	height: 665px;
}
div#obj2514 {
position: absolute;
overflow: hidden;
top: 309px;
left: 591px;
width: 206px;
height: 179px;
opacity: 1;
z-index: 3;
display:none;
pointer-events: auto;
-webkit-transform: rotate(3.263246deg);
-moz-transform: rotate(3.263246deg);
transform: rotate(3.263246deg);

}
img#obj2514_img {
	position: absolute;
	left: 0px;
	top: 16px;
	width: 206px;
	height: 147px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2510 {
position: absolute;
overflow: hidden;
top: 154px;
left: 530px;
width: 182px;
height: 214px;
opacity: 1;
z-index: 4;
display:none;
pointer-events: none;
-webkit-transform: rotate(3.34062deg);
-moz-transform: rotate(3.34062deg);
transform: rotate(3.34062deg);

}
img#obj2510_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 182px;
	height: 214px;
}
div#obj2506 {
position: absolute;
overflow: hidden;
top: 17px;
left: 635px;
width: 129px;
height: 129px;
opacity: 1;
z-index: 5;
display:none;
pointer-events: none;

}
img#obj2506_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 129px;
	height: 129px;
}
div#obj2525 {
position: absolute;
overflow: hidden;
top: 137px;
left: 614px;
width: 171px;
height: 271px;
opacity: 1;
z-index: 6;
display:none;
pointer-events: none;

}
img#obj2525_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 171px;
	height: 271px;
}
div#obj2530 {
position: absolute;
overflow: hidden;
top: 290px;
left: 516px;
width: 133px;
height: 130px;
opacity: 1;
z-index: 7;
display:none;
pointer-events: none;
-webkit-transform: rotate(1.583341deg);
-moz-transform: rotate(1.583341deg);
transform: rotate(1.583341deg);

}
img#obj2530_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 133px;
	height: 130px;
}
div#obj2559 {
position: absolute;
overflow: hidden;
top: 154px;
left: 682px;
width: 162px;
height: 207px;
opacity: 1;
z-index: 8;
display:none;
pointer-events: none;

}
img#obj2559_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 162px;
	height: 207px;
}
div#obj2563 {
position: absolute;
overflow: hidden;
top: 259px;
left: 760px;
width: 82px;
height: 178px;
opacity: 1;
z-index: 9;
display:none;
pointer-events: none;

}
img#obj2563_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 82px;
	height: 178px;
}
div#obj2518 {
position: absolute;
overflow: hidden;
top: 220px;
left: 1231px;
width: 121px;
height: 171px;
opacity: 1;
z-index: 17;
display:block;
pointer-events: auto;

}
img#obj2518_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 121px;
	height: 171px;
}
div#obj5795 {
position: absolute;
overflow: hidden;
top: 418px;
left: 1155px;
width: 169px;
height: 174px;
opacity: 1;
z-index: 18;
display:block;
pointer-events: none;

mix-blend-mode: overlay;
}
img#obj5795_img {
	position: absolute;
	left: 0px;
	top: 24px;
	width: 169px;
	height: 127px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2613 {
position: absolute;
overflow: hidden;
top: 442px;
left: 1184px;
width: 123px;
height: 118px;
opacity: 1;
z-index: 19;
display:block;
pointer-events: auto;

}
img#obj2613_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 123px;
	height: 118px;
}
div#obj2488 {
position: absolute;
overflow: hidden;
top: 108px;
left: 1093px;
width: 118px;
height: 118px;
opacity: 1;
z-index: 20;
display:block;
pointer-events: auto;

}
img#obj2488_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 118px;
}
div#obj2605 {
position: absolute;
overflow: hidden;
top: 546px;
left: 1134px;
width: 191px;
height: 173px;
opacity: 1;
z-index: 21;
display:block;
pointer-events: auto;

}
img#obj2605_img {
	position: absolute;
	left: 0px;
	top: 19px;
	width: 191px;
	height: 136px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj2597 {
position: absolute;
overflow: hidden;
top: -16px;
left: 1203px;
width: 148px;
height: 191px;
opacity: 1;
z-index: 22;
display:block;
pointer-events: auto;
-webkit-transform: rotate(12.22589deg);
-moz-transform: rotate(12.22589deg);
transform: rotate(12.22589deg);

}
img#obj2597_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 191px;
}
div#obj2589 {
position: absolute;
overflow: hidden;
top: 495px;
left: 282px;
width: 158px;
height: 227px;
opacity: 1;
z-index: 23;
display:block;
pointer-events: auto;

}
img#obj2589_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 158px;
	height: 227px;
}
div#obj2628 {
position: absolute;
overflow: hidden;
top: 97px;
left: 2px;
width: 159px;
height: 193px;
opacity: 1;
z-index: 24;
display:block;
pointer-events: auto;

}
img#obj2628_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	height: 193px;
}
div#obj2636 {
position: absolute;
overflow: hidden;
top: 404px;
left: 14px;
width: 82px;
height: 178px;
opacity: 1;
z-index: 25;
display:block;
pointer-events: auto;

}
img#obj2636_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 82px;
	height: 178px;
}
div#obj2735 {
position: absolute;
overflow: hidden;
top: -27px;
left: 96px;
width: 148px;
height: 256px;
opacity: 1;
z-index: 27;
display:block;
pointer-events: auto;
-webkit-transform: rotate(179.1931deg);
-moz-transform: rotate(179.1931deg);
transform: rotate(179.1931deg);

}
img#obj2735_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 148px;
	height: 256px;
}
div#obj2726 {
position: absolute;
overflow: hidden;
top: 291px;
left: 263px;
width: 157px;
height: 179px;
opacity: 1;
z-index: 28;
display:block;
pointer-events: auto;
-webkit-transform: rotate(-0.3868703deg);
-moz-transform: rotate(-0.3868703deg);
transform: rotate(-0.3868703deg);

}
img#obj2726_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 157px;
	height: 179px;
}
div#obj2719 {
position: absolute;
overflow: hidden;
top: 339px;
left: 1102px;
width: 117px;
height: 106px;
opacity: 1;
z-index: 29;
display:block;
pointer-events: auto;

}
img#obj2719_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 117px;
	height: 106px;
}
div#obj2712 {
position: absolute;
overflow: hidden;
top: 404px;
left: 410px;
width: 134px;
height: 171px;
opacity: 1;
z-index: 30;
display:block;
pointer-events: auto;
-webkit-transform: rotate(0.4379859deg);
-moz-transform: rotate(0.4379859deg);
transform: rotate(0.4379859deg);

}
img#obj2712_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 134px;
	height: 171px;
}
div#obj2705 {
position: absolute;
overflow: hidden;
top: 324px;
left: 852px;
width: 118px;
height: 137px;
opacity: 1;
z-index: 31;
display:block;
pointer-events: auto;

}
img#obj2705_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 137px;
}
div#obj2698 {
position: absolute;
overflow: hidden;
top: 273px;
left: 95px;
width: 129px;
height: 225px;
opacity: 1;
z-index: 32;
display:block;
pointer-events: auto;

}
img#obj2698_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 129px;
	height: 225px;
}
div#obj2691 {
position: absolute;
overflow: hidden;
top: 439px;
left: 57px;
width: 192px;
height: 369px;
opacity: 1;
z-index: 33;
display:block;
pointer-events: auto;

}
img#obj2691_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 369px;
}
div#obj2742 {
position: absolute;
overflow: hidden;
top: 146px;
left: 141px;
width: 72px;
height: 83px;
opacity: 1;
z-index: 34;
display:block;
pointer-events: auto;

}
img#obj2742_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 83px;
}
div#obj2749 {
position: absolute;
overflow: hidden;
top: 490px;
left: 873px;
width: 179px;
height: 235px;
opacity: 1;
z-index: 35;
display:block;
pointer-events: auto;
-webkit-transform: rotate(-0.3868703deg);
-moz-transform: rotate(-0.3868703deg);
transform: rotate(-0.3868703deg);

}
img#obj2749_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 179px;
	height: 235px;
}
div#obj4097 {
position: absolute;
overflow: hidden;
top: -19px;
left: 0px;
width: 126px;
height: 134px;
opacity: 1;
z-index: 39;
display:block;
pointer-events: auto;

}
img#obj4097_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 126px;
	height: 134px;
}

div#obj5918 {
position: absolute;
overflow: hidden;
top: 265px;
left: 1042px;
width: 309px;
height: 151px;
opacity: 1;
z-index: 36;
display:none;
pointer-events: none;
user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
cursor: default;
background-color: #F0AD05;
border-color: #000000;
border-width: 2px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
padding: 10px;
font-family: "Andika-regular";
font-size: 30px;
text-align: center;
}
div#obj5918_content {
}












body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
:link { color: #0A52A2; }
:visited { color: #5B2599; }
.SCText span.INSERT_STYLE_NAME_HERE {
	
}/* Start of default CSS Styles */
p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }
/* End of default CSS Styles */
.SCPage {
background-color: #FFFFFF
}
